@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

* {
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: white;
  margin: 0;
  padding: 0;
}


/********************************************/
/**************      GROUP      *************/
/********************************************/
.group {
  background-color: #f9f9f9;
  width: 96%;
  float:left;
  margin: 2%;
  margin-top: 0;
}

.group h2 {
  text-align: center;
  background-color: #f1f1f1;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid midnightblue;
}

/********************************************/
/*********      GROUP CONTENT      **********/
/********************************************/
h1 {
  text-align: center;
  color: midnightblue;
}

h2 > a {
  text-decoration: none;
  color:initial;
}

.group > ul {
  padding-left: 20px;
  height:0;
  margin:0;
  overflow:hidden;
}


.group > ul p {
  padding-left: 10px;
}

li.subset {
  display:block;
  background-color: #e1e1e1;

  border-radius: 2px;
  padding: 15px;
  min-width: 250px;
  list-style: none;
  margin: 20px;
  float:left;
  box-shadow: 0 0 2px 1px #d3d3d3;
}

h3.subset-title {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.stat, .substat {
  margin-top: 10px;
  list-style: none;

}

.stat-title, .substat-title {
  margin: 0;
  font-weight: normal;
}

.stat p, .substat p {
  margin: 0;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  body{
    font-size: 3em;
  }

  .subset {
    width:90%;
    margin-right:2.5%;
    margin-left:2.5%;
  }
}